body {
    background-color: #efede0;
}

.outer {
    width: 200px;
    height: 70px;
    margin: 2px;
    background-color: #efede0;
    border: 1px solid black;
    position: fixed;
    left: 30px;
    bottom: 335px;
}
.inner {
    width: 200px;
    height: 70px;
    position: fixed;
    right: 1000px;
    bottom: 340px;
    margin: 50px 50px 0 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.outer2 {
    width: 200px;
    height: 50px;
    margin: 2px;
    background-color: #efede0;
    border: 1px solid black;
    position: fixed;
    left: 30px;
    bottom: 254px;
}
.inner2 {
    width: 200px;
    height: 50px;
    position: fixed;
    right: 1000px;
    bottom: 260px;
    margin: 50px 50px 0 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

a {
    font-family: 'Catamaran', sans-serif;
    color: black;
    font-style: italic;
    text-decoration: none;
}

a:hover
{
    font-style: normal;
    color: grey;
}

.outer3 {
    width: 200px;
    height: 50px;
    margin: 2px;
    background-color: #efede0;
    position: fixed;
    left: 30px;
    bottom: 190px;
    font-family: 'Catamaran', sans-serif;
    color: black;
    font-size: 12px;
}

.outer4 {
    width: 300px;
    height: 199px;
    margin: 2px;
    background-color: #efede0;
    border: 1px solid black;
    position: fixed;
    right: 700px;
    bottom: 290px;
}
.inner4 {
    width: 300px;
    height: 199px;
    position: fixed;
    right: 657px;
    bottom: 297px;
    margin: 50px 50px 0 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.img1 {
    max-width: 300px;
    
}

.outer5 {
    width: 300px;
    height: 171px;
    margin: 2px;
    background-color: #efede0;
    border: 1px solid black;
    position: fixed;
    right: 330px;
    bottom: 320px;
}
.inner5 {
    width: 300px;
    height: 169px;
    position: fixed;
    right: 287px;
    bottom: 327px;
    margin: 50px 50px 0 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.img2 {
    max-width: 300px;
}

.outer6 {
    width: 300px;
    height: 139px;
    margin: 2px;
    background-color: #efede0;
    border: 1px solid black;
    position: fixed;
    right: 330px;
    bottom: 149px;
}
.inner6 {
    width: 300px;
    height: 139px;
    position: fixed;
    right: 287px;
    bottom: 157px;
    margin: 50px 50px 0 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.img3 {
    max-width: 300px;
}

.outer7 {
    width: 300px;
    height: 149px;
    margin: 2px;
    background-color: #efede0;
    border: 1px solid black;
    position: fixed;
    right: 698px;
    bottom: 121px;
}
.inner7 {
    width: 300px;
    height: 151px;
    position: fixed;
    right: 655px;
    bottom: 129px;
    margin: 50px 50px 0 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.img4 {
max-width: 300px;
}

.outer8 {
    width: 300px;
    height: 165px;
    margin: 2px;
    background-color: #efede0;
    border: 1px solid black;
    position: fixed;
    right: 2px;
    bottom: 130px;
}
.inner8 {
    width: 300px;
    height: 169px;
    position: fixed;
    right: -40px;
    bottom: 137px;
    margin: 50px 50px 0 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.img5 {
    max-width: 300px;
}

.outer9 {
    width: 300px;
    height: 143px;
    margin: 2px;
    background-color: #efede0;
    border: 1px solid black;
    position: fixed;
    right: 2px;
    bottom: 350px;
}
.inner9 {
    width: 300px;
    height: 143px;
    position: fixed;
    right: -40px;
    bottom: 357px;
    margin: 50px 50px 0 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.img6 {
    max-width: 300px;
}

.btnimg {
    max-width: 400px;
  }
  button {
      position: fixed;
      left: 80px;
      bottom: 80px;
      background-color: white;
      border-radius: 10px;
      width: 100px;
      font-style: italic;
      font-family: 'Times New Roman', Times, serif;
  }
    
  .modal {
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          visibility: hidden;
          transform: scale(1.1);
          transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
      }
      .modal-content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 1rem 1.5rem;
          width: 24rem;
          border-radius: 0.5rem;
          font-family: 'Catamaran', sans-serif;
          background-color: #efede0;
      }
      .close-button {
          float: right;
          width: 1.5rem;
          line-height: 1.5rem;
          text-align: center;
          cursor: pointer;
          border-radius: 0.25rem;
          background-color: lightgray;
      }
      .close-button:hover {
          background-color: darkgray;
      }
      .show-modal {
          opacity: 1;
          visibility: visible;
          transform: scale(1.0);
          transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
      }



    
 


 
