body {
    background-color: #efede0;
}
.outer {
    width: 250px;
    height: 313px;
    margin: 2px;
    background-color: #efede0;
    border: 1px solid black;
    position: fixed;
    right: 995px;
    bottom: 235px;
}
.inner {
    width: 250px;
    height: 313px;
    position: fixed;
    right: 950px;
    bottom: 240px;
    margin: 50px 50px 0 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.img {
    max-width: 300px;
}

.outer2 {
    width: 500px;
    height: 140px;
    margin: 2px;
    background-color: #efede0;
    border: 1px solid black;
    position: fixed;
    left: 372px;
    bottom: 395px;
}
.inner2 {
    width: 500px;
    height: 140px;
    position: fixed;
    left: 320px;
    bottom: 400px;
    margin: 50px 50px 0 50px;
    background-color: rgb(255, 255, 255);
	border: 1px solid black;
	font-family: 'Montserrat', sans-serif;
	font-size: 21px;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #a09c83;
    font-style: italic;
    text-decoration: none;
}

a:hover
{
    font-style: normal;
    color: grey;
}

.outer3 {
    width: 200px;
    height: 30px;
    margin: 2px;
    background-color: #efede0;
    position: fixed;
    right: -70px;
    top: -10px;
   
}

.outer4 {
    width: 500px;
    height: 252px;
    margin: 2px;
    background-color: #efede0;
    border: 1px solid black;
    position: fixed;
    left: 372px;
	bottom: 95px;
}

.inner4 {
    width: 500px;
    height: 253px;
    position: fixed;
    left: 320px;
    bottom: 101px;
    margin: 50px 50px 0 50px;
    background-color: rgb(255, 255, 255);
	border: 1px solid black;
	font-family: 'Montserrat', sans-serif;

}

p {
	font-size: 12px;
}