body {
    background-color: #efede0;
}
.outer {
    width: 250px;
    height: 313px;
    margin: 2px;
    background-color: #efede0;
    border: 1px solid black;
    position: fixed;
    right: 995px;
    bottom: 235px;
}
.inner {
    width: 250px;
    height: 313px;
    position: fixed;
    right: 950px;
    bottom: 240px;
    margin: 50px 50px 0 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.img {
    max-width: 300px;
}

.outer2 {
    width: 500px;
    height: 140px;
    margin: 2px;
    background-color: #efede0;
    border: 1px solid black;
    position: fixed;
    left: 372px;
    bottom: 395px;
}
.inner2 {
    width: 500px;
    height: 140px;
    position: fixed;
    left: 320px;
    bottom: 400px;
    margin: 50px 50px 0 50px;
    background-color: rgb(255, 255, 255);
	border: 1px solid black;
	font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    text-align: center;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #a09c83;
    font-style: italic;
    text-decoration: none;
}

a:hover
{
    font-style: normal;
    color: grey;
}

.outer3 {
    width: 200px;
    height: 30px;
    margin: 2px;
    background-color: #efede0;
    position: fixed;
    right: -70px;
    top: -10px;
    text-align: center;
   
}

.outer4 {
    width: 500px;
    height: 252px;
    margin: 2px;
    background-color: #efede0;
    border: 1px solid black;
    position: fixed;
    left: 372px;
	bottom: 95px;
}

.inner4 {
    width: 500px;
    height: 253px;
    position: fixed;
    left: 320px;
    bottom: 101px;
    margin: 50px 50px 0 50px;
    background-color: rgb(255, 255, 255);
	border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

p {
	font-size: 12px;
}

.outer5 {
    width: 300px;
    height: 300px;
    margin: 2px;
    background-color: #efede0;
    border: 1px solid black;
    position: fixed;
    right: 35px;
    bottom: 34px;
}
.inner5 {
    width: 300px;
    height: 300px;
    position: fixed;
    right: -10px;
    bottom: 40px;
    margin: 50px 50px 0 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.img2 {
	max-width: 300px;
}

.cloud {
    max-width: 100px;
    position: fixed;
    left: 990px;
    top: 50px;
    animation: myFirst 5s infinite;
    animation-direction: linear infinite alternate;
  }
  
  @keyframes myFirst {
    0% { left: 900px;}
    50% { left: 92%;}
    100% { left: 900px;}
   
  }
  .cloud2 {
      max-width: 100px;
      position: fixed;
      left: 900px;
      top: 130px;
      animation: cloud 5s infinite;
      animation-direction: linear infinite alternate;
    }
    
    @keyframes cloud {
        0% { left: 950px;}
        50% { left: 87%;}
        100% { left: 950px;}
     
    }

    .cloud3 {
        max-width: 100px;
        position: fixed;
        left: 900px;
        bottom: 80px;
        animation: slide 5s infinite;
        animation-direction: linear infinite alternate;
      }

      @keyframes slide {
        0% { left: 5px;}
        50% { left: 15%;}
        100% { left: 5px;}
     
    }

    .cloud4 {
        max-width: 100px;
        position: fixed;
        left: 900px;
        bottom: 160px;
        animation: fourth 5s infinite;
        animation-direction: linear infinite alternate;
      }

      @keyframes fourth {
        0% { left: 5px;}
        50% { left: 20%;}
        100% { left: 5px;}
     
    }